
<!DOCTYPE html>
html
    head
      meta(charset="UTF-8")
      title Document
      link(rel="stylesheet", href="style.css")
    body
        h1 欢迎来到图片展示区域
        div
          img(src='./#{imageUrl}' alt="")
